html, body{
	margin: 0;
}

body{
	align-items: center;
	background: #f0f0f0;
	display: flex;
	height: 100vh;
	justify-content: center;
	min-height: 300px;
}

body, #content{
	overflow-x: hidden;
}

#content{
	align-items: center;
	display: flex;
	height: 280px;
	justify-content: space-between;
	margin: 0 auto;
	position: relative;
	width: 760px;
}

object{
	box-sizing: border-box;
	height: 100%;
	padding: 3px;
}

#text{
	width: 460px;
}

h1, p{
	font-family: Arial, sans-serif;
	font-weight: 100;
	margin: 0;
}

h1{
	color: #000;
	font-size: 52pt;
}

p{
	color: #313131;
	font-size: 18pt;
}

@media (max-width: 800px){
	#content{
		flex-direction: column;
		justify-content: center;
		min-height: 400px;
		width: 100%;
	}

	object{
		height: 160px;
		margin-top: 22px;
	}

	#text{
		box-sizing: border-box;
		padding: 4px 12px;
		text-align: center;
		width: 100%;
	}
}

@media (max-width: 412px){
	body{
		min-height: 400px;
	}
}

@media (max-width: 392px){
	#content{
		height: 100%;
	}

	#text{
		padding: 4px 4px;
	}
}